body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f2faff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 450px;
  width: 90%;
  margin: 20px auto;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input[type="number"],
select {
  width: 100%;
  margin: 5px 0 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

select {
  /* Remove default arrow and style it */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 30px; /* Make space for the arrow */
}

#selections-header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space between heading and button */
  align-items: center;
  margin-bottom: 10px;
}

.plus-button,
.remove-button {
  width: 30px;
  height: 30px;
  background-color: #373a3d;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #34c0ca;
  font-size: 20px;
  line-height: 1;
}
.plus-button:hover,
.remove-button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}
.remove-button {
  margin-left: auto;
}

.selection {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.odds-container {
  width: 100%;
}

.odds {
  flex: 2;
  margin: 0 10px 0 0 !important;
}

.remove-button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.place-fraction {
  flex: 1;
  margin: 0 10px 0 0 !important;
}

#calc-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

#calc-button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

